body {
  margin: 0;
  padding: 0;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 48px;
  font-family: Garamond;
}

#parallax-1 {
  background-image: url('img/ew.jpg');
}

#parallax-2 {
  background-image: url('img/senorita.jpg');
}

section {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: justify;
}

section p {
  margin: 50px;
  font-family: serif;
}

section h2 {
  margin-left: 10px;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

/* css calc */
/* Light Theme */
body.light-theme {
  background-color: #f4f4f4;
  color: #333;
}

.container.light-theme {
  background-color: #f4f4f4;
  border-color: #ccc;
}

.result.light-theme {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
  font-family: sans-serif;
}

.button.light-theme {
  background-color: #ccc;
  color: #333;
}

.button.light-theme:hover {
  background-color: #bbb;
}

/* Black Theme */
body.black-theme {
  background-color: #111;
  color: #f4f4f4;
}

.container.black-theme {
  background-color: #111;
  border-color: #222;
}

.result.black-theme {
  background-color: #222;
  border-color: #222;
  font-family: sans-serif;
}

.button.black-theme {
  background-color: #222;
  color: #f4f4f4;
}

.button.black-theme:hover {
  background-color: #333;
}

/* Common Styles */
.container {
  width: 280px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: right;
  font-weight: bold;
}

.button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.theme-button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}